.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 8px;
}

.main {
  padding: 8px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  padding: 8px;
  font-size: 0.9rem;
  text-align: center;
}
